@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap");
@import "tailwindcss";

* {
  box-sizing: border-box;
  text-decoration: none;
}

*::-webkit-scrollbar {
  width: 5px;
  background: transparent;
  border-radius: 0;
}

*::-webkit-scrollbar-thumb {
  background-color: var(--dodger-blue);
}

:root {
  --steel-gray: #1e1e2f;
  --ebony-clay: #27293d;
  --athens-gray: #f0f2f5;
  --shark: #2f3032;
  --dodger-blue: #329bff;
  --light-white: #ffffffcc;
}

@theme inline {
  --color-steel-gray: var(--steel-gray);
  --color-ebony-clay: var(--ebony-clay);
  --color-dodger-blue: var(--dodger-blue);
  --color-athens-gray: var(--athens-gray);
  --color-light-white: var(--light-white);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-jetbrains: "JetBrains Mono", monospace;
}

@media (prefers-color-scheme: dark) {
  /* :root {
  } */
}

body {
  background: var(--steel-gray);
  color: var(--light-white);
  font-family: Arial, Helvetica, sans-serif;
}

.ant-tooltip .ant-tooltip-inner {
  background-color: rgba(0, 0, 0, 0.7) !important;
  font-size: 16px;
  padding: 4px 8px;
  font-weight: 400;
}

.ant-tooltip-arrow:before {
  background-color: rgba(0, 0, 0, 0.7) !important;
}

.ant-table {
  background-color: transparent !important;
  border-radius: 0px !important;
  font-weight: 700;
  animation: fade 300ms ease forwards;
}

.ant-table * {
  transition: border 0ms ease !important;
}

.ant-table-thead > tr > th {
  background-color: transparent !important;
  color: #c8c8c8 !important;
  padding: 8px !important;
  border-radius: 0px !important;
  border-bottom: 1px solid var(--color-gray-700) !important;
}

.ant-table-thead > tr > th::before {
  background-color: transparent !important;
}

.ant-table-tbody > tr {
  transition: background 300ms ease !important;
}

.ant-table-tbody > tr:hover {
  background-color: var(--color-steel-gray) !important;
}

.ant-table-tbody > tr > td {
  background: transparent !important;
  padding: 23px 10px !important;
  font-size: 16px;
  border-bottom: 1px solid var(--color-gray-700) !important;
  align-items: center;
}

.ant-table-tbody > tr:last-child > td {
  border-bottom: none !important;
}

.ant-table-column-sorter-inner {
  color: gray;
}

.ant-table-align-center .ant-table-column-title {
  justify-content: center;
  display: flex;
}
