.nav-item {
  width: auto;
  white-space: nowrap;
  padding: 0 32px;
  transition: filter 150ms ease;
  height: 100%;
  display: flex;
  align-items: center;
}

.nav-item:hover {
  filter: brightness(0.8);
}

li {
  height: 100%;
  display: flex;
}

.profile-item {
  white-space: nowrap;
  padding: 8px;
}

/* .profile-container {
  height: 76px;
  padding: 4px;
  border: 1px solid var(--color-gray-700);
} */
